---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import Bronze from '../../assets/images/materials/bronze.png';
import Aluminum from '../../assets/images/materials/aluminum.png';
import Zink from '../../assets/images/materials/zink.png';
import Messing from '../../assets/images/materials/messing.jpg';
import Silber from '../../assets/images/materials/silber.png';
import Tombak from '../../assets/images/materials/tombak.png';
import Others from '../../assets/images/materials/others.png';
import Ref6 from '../../assets/images/kr-1.jpg';
import Ref2 from '../../assets/images/kr-2.jpg';
import Ref1 from '../../assets/images/kr-3.jpg';
import Ref4 from '../../assets/images/kr-4.jpg';
import Ref5 from '../../assets/images/kr-5.jpg';
import Ref3 from '../../assets/images/kr-6.jpeg';
import Leistungen from '../../assets/images/leistungen.jpg';
import Leistungen2 from '../../assets/images/leistungen-2.jpg';
import CoverLeistungen from '../../assets/images/cover-leistungen.jpg';
import Arrow from '../../assets/images/Arrow.png';
import Last from '../../assets/images/last-kunst.jpg';
import Signature from '../../assets/images/signature.png';
---

<Layout>
    <div class="hero">
        <video class="image parallax" autoplay muted loop>
            <source src="https://occ87lmc8c.ufs.sh/f/amuZeWyiXfpxXfHjg5bbHsP3C5tyvgx2ETmcLdIflAGwkZYi" type="video/mp4">
        </video>
    </div>
    <div class="capped">
        <h2 class="header left"><span>PRÄZISION FÜR KUNST</span></h2>
        <div class="first-part">
            <div class="left">
                <p>KUNSTGUSS IM FEINGUSS (KERAMIKSCHALEN-WACHSAUSSCHMELZ-VERFAHREN) ODER SANDGUSS</p>
                <p>(alternativ: Steinguss / Betonguss / Gipsguss / div. Kunstharze)</p>
            </div>
            <div class="right">
                <p class="p1 on-enter">
                    Unsere tägliche Herausforderung ist es, individuelle Beratung und
                    spezielle Fertigungswünsche präzise umzusetzen. Wir verstehen
                    die Vision des Künstlers und arbeiten eng mit ihm zusammen, um
                    beeindruckende Gussplastiken und Skulpturen zu realisieren.
                </p>
                <p class="p2 on-enter">
                    Künstlerische Objekte aus verschiedensten Metalllegierungen sind
                    für uns zeitlose Begleiter durch die Epochen. Besonders Bronze,
                    eine faszinierende Legierung, die mit ihrer natürlichen Patina einen
                    einzigartigen Charme entfaltet. Je nach Projekt kommen auch
                    andere Metalle zum Einsatz.
                </p>
                <p class="p2 on-enter">
                    Bei der Gestaltung sind kaum Grenzen gesetzt: von filigranen Klein-
                    plastiken über detaillierte Landschafts- und Stadtmodelle, Blinden-
                    tastmodelle bis großformatigen Skulpturen und Wasserspielen.
                </p>
                <p class="colored on-enter">
                    Auf Wunsch übernehmen wir auch Lieferung und Montage vor Ort
                    – alles aus einer Hand.
                </p>
                <p class="on-enter">
                    <Image src={Signature} alt="Kollinger Signature" />
                </p>
                <p class="end on-enter">
                    - Kollinger
                </p>
            </div>
        </div>
    </div>
    <section class="third-part capped">
        <div class="materials">
            <h2 class="header"><span>UNSERE MATERIALIEN</span></h2>
            <div class="sub-header">EDELMETALL UND SONDERLEGIERUNGEN AUF ANFRAGE</div>
            <div class="materialsList">
                <article class="material">
                    <div class="materialImg">
                        <Image src={Bronze} alt="Image 1" />
                    </div>
                    <p class="name">BRONZE</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Zink} alt="Image 1" />
                    </div>
                    <p class="name">ZINK</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Messing} alt="Image 1" />
                    </div>
                    <p class="name">MESSING</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Aluminum} alt="Image 1" />
                    </div>
                    <p class="name">ALUMINIUM</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Silber} alt="Image 1" />
                    </div>
                    <p class="name">SILBER</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Tombak} alt="Image 1" />
                    </div>
                    <p class="name">SILIZIUMBRONZE</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Others} alt="Image 1" />
                    </div>
                    <p class="name">SONDERLEGIERUNGEN</p>
                </article>
            </div>
        </div>
    </section>

    <section class="fourth-part">
        <div class="slider-cont">
            <h2 class="header left capped"><span>REFERENZEN</span></h2>
            <div class="slider-bg">
                <div class="slider">
                    <div class="slide c5">
                        <Image class="image" src={Ref1} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image land" src={Ref2} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Ref3} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image land" src={Ref4} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Ref5} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Ref6} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="see-more">
                        <Image class="arrow" src={Arrow} alt="Image 5" />
                        <a href="/kunst/referenzen">
                            WEITER ZUR GALLERIE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fifth-part capped">
        <div class="leistungen">
            <h2 class="header"><span>UNSERE LEISTUNGEN</span></h2>
            <div class="info">
                <Image class="leistungen-img" src={Leistungen} alt="Image 5" />
                <div class="info-right">
                    <p class="info-head">VIELFALT IM METALLGUSS</p>
                    <p>
                        Ob zarte, filigrane Prototypen oder beeindruckende, monumentale
                        Skulpturen – wir setzen Ihre visionären Ideen mit höchster Präzision
                        und Leidenschaft in hochwertigem Metallguss um. Unsere langjährige
                        Expertise ermöglicht es uns, individuelle Lösungen zu entwickeln,
                        ganz gleich, ob es um Größe, Komplexität oder spezielle Materialan-
                        forderungen geht.
                    </p>
                    <p>
                        Vertrauen und Vertraulichkeit sind für uns selbstverständlich.
                        Der Schutz Ihrer kreativen Arbeit und Ihrer Urheberrechte liegt uns
                        am Herzen, und wir behandeln Ihre Daten mit größter Sorgfalt und
                        Respekt. Gemeinsam realisieren wir Kunstwerke, die begeistern und
                        dauerhaft überzeugen.
                    </p>
                    <p>
                        Wir unterstützen Sie gerne mit Beratung bei vor- und nachgelagerten
                        Arbeitsschritten für Ihre Kunstprojekte
                    </p>
                    <div class="see-more">
                        <Image class="arrow" src={Arrow} alt="Image 5" />
                        <a href="/kunst/referenzen">
                            ZUR VIDEOGALERIE
                        </a>
                    </div>
                </div>
                <Image class="leistungen-right" src={Leistungen2} alt="Image 5" />
            </div>
        </div>

        <div class="more-info">
            <p class="more-info-title" style="text-align:center;font-weight:bold;font-size:1.885rem;padding-top:4rem;">
                Wir unterstützen Sie gerne mit Beratung bei vor-/nachgelagerten
                <br>
                Arbeitschritten für Ihre Kunstprojekte
            </p>
            <div class="scrolable">
                <div class="hoverable">
                    <div class="title">
                        MODELLHERSTELLUNG
                    </div> 
                    <div class="more">
                        ÜBER FREIES MODELLIEREN,
                        <br>
                        CNC-FRÄSEN,
                        <br>
                        3D-DRUCK
                    </div>
                </div>
                <div class="hoverable">
                    <div class="title">
                        MODELLKONSTRUKTION
                    </div>
                    <div class="more">
                        MIT 3D-SCANNEN,
                        <br>
                        MIT CAD
                        <br>
                        DIGITALE ARCHIVIERUNG
                    </div>
                </div>
                <div class="hoverable">
                    <div class="title">OBERFLÄCHENBESCHICHTUNGEN</div>
                    <div class="more">
                        LACKIERUGEN
                        <br>
                        PULVERBESCHICHTUNG
                        <br>
                        BESANDUNGEN
                    </div>
                </div>
                <div class="hoverable no-line">
                    <div class="title">ABFORMUNGEN</div>
                    <div class="more">
                        BLOCKFORMEN
                        <br>
                        SCHALENFORMEN
                        <br>
                        SPRITZFORMEN
                    </div>
                </div>
                <div class="hoverable">
                    <div class="title">WASSERTECHNIK</div>
                    <div class="more">
                        FÜR WASSERSPIELE
                        <br>
                        UND BRUNNEN
                    </div>
                </div>
                <div class="hoverable">
                    <div class="title">METALLISCHE ÜBERZÜGE</div>
                    <div class="more">
                        VERSILBERN,
                        <br>
                        VERGOLDEN,
                        <br>
                        VERCHROMEN
                    </div>
                </div>
                <div class="hoverable">
                    <div class="title">LIEFERUNG UND MONTAGE</div>
                    <div class="more">
                        ZOLLPAPIERE FÜR EXPORT
                        <br>
                        TRANSPORTGERÜSTE UND BOXEN
                        <br>
                        AUFSTELLUNG VOR ORT
                    </div>
                </div>
                <div class="hoverable no-line">
                    <div class="title">PATINIEREN</div>
                    <div class="more">
                        INDIVIDUELLE FARBGESTALTUNG
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="final">
        <div class="hero2">
            <Image class="image parallax" src={CoverLeistungen} alt="Image 1" />
        </div>
        <div class="prozesse" id="kontakt">
            <div class="capped">
                <h2 class="header left"><span>KONTAKTIEREN SIE UNS <br> JEDERZEIT GERNE!</span></h2>
                <div class="prozesse-info">
                    <div class="prozesse-left">
                    </div>
                    <div class="prozesse-right">
                        <p class="prozesse-title">IHR VERLÄSSLICHER PARTNER FÜR <br> KÜNSTLERISCHE VISIONEN</p>
                        Künstlerisches Arbeiten basiert auf Vertrauen – in Material, Technik
                        und Menschen. Deshalb begleiten wir jede Phase mit größter
                        Sorgfalt. Unser Fokus liegt auf dem Verständnis von Form, Intention
                        und gewünschter Oberflächenwirkung.
                    </div>
                </div>
                <div style="color: #A48B66;font-size: 6rem;font-weight: 600;padding-top: 17rem;text-align: center;">
                    +49 730 891 9223
                    <br>
                    INFO@KOLLINGER-GUSS.DE
                </div>
                <div style="font-weight: bold;font-size: 1.5rem;text-align: center;padding: 3.5rem 1rem;margin-bottom: 7rem;">
                    DAIMLERSTRASSE 4
                    <br>
                    89275 ELCHINGEN
                    <br>
                    D-DEUTSCHLAND
                </div>
            </div>
            <div class="lastImage">
                <div class="lastLeft">
                    Kollinger Guss
                    <br>
                    Qualität seit
                    <br>
                    1993
                </div>
                <Image src={Last} alt="Image 1" />
            </div>
    </section>
</Layout>

<script>
import gsap from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
import Lenis from '@studio-freight/lenis';

gsap.registerPlugin(ScrollTrigger);

const lenis = new Lenis();

lenis.on('scroll', ScrollTrigger.update);

gsap.ticker.add((time) => {
    lenis.raf(time * 1000);
});

gsap.ticker.lagSmoothing(0);

gsap.from(".on-enter", {
    scrollTrigger: {
        trigger: ".first-part",
        start: "top 90%",
        toggleActions: "play none none none",
    },
    y: 40,
    opacity: 0,
    stagger: 0.15,
    duration: 1,
    ease: "power2.out"
});

gsap.to(".hero .parallax", {
    scrollTrigger: {
        trigger: ".hero",
        start: "top top",
        end: "bottom top",
        scrub: true
    },
    y: 200,
    filter: "blur(8px)",
    scale: 1.01,
});

gsap.to(".first-part", {
  scrollTrigger: {
    trigger: ".first-part",
    start: "top top",
    end: "bottom top",
    scrub: true
  },
  y: -100
});

gsap.from(".second-part .hoverable", {
    scrollTrigger: {
        trigger: ".second-part",
        start: "top 65%",
        end: "top 30%",
        toggleActions: "play none none none",
        scrub: true,
    },
    y: 40,
    opacity: 0,
    stagger: 0.15,
    ease: "power2.out"
});

const something = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".second-part .something",
        start: "50% 50%",
        endTrigger: ".second-part",
        end: "bottom -10%",
    },
});
something.fromTo(".second-part .something", {
    opacity: 0,
    scale: 1,
    duration: 1,
}, { opacity: 1, scale: 1.5, duration: 1, }).to(".second-part .something", {
    scale: 2,
    opacity: 1,
    duration: 2,
}).to(".second-part .something", {
    scale: 2.5,
    opacity: 0,
    duration: 1,
});

const tl = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".second-part .items",
        start: "60% 40%",
        endTrigger: ".second-part",
        end: "bottom 80%",
    },
});
tl.from(".second-part .more", {
    y: 40,
    opacity: 0,
    stagger: 0.5,
    ease: "power2.out"
});

gsap.to(".hero2 .parallax", {
    scrollTrigger: {
        trigger: ".hero2",
        start: "top 80%",
        end: "bottom top",
        scrub: true
    },
    y: 100,
});

const tlMaterials = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".materials",
        start: "50% 50%",
        endTrigger: ".third-part",
        end: "bottom 50%",
    },
});
tlMaterials
    .from(".materialsList .material", {
        scale: 0.8,
        stagger: -0.15,
        ease: "power2.inOut"
    });

const tlSlider = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".slider-cont",
        start: "50% 50%",
        endTrigger: ".fourth-part",
        end: "bottom 50%",
    },
});
tlSlider.fromTo( ".slider", { xPercent: 30 }, { xPercent: -50, ease: "power1.in" });
</script>

<style>
.hero {
    padding-top: 60px;
    overflow: hidden;

    .image {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}

.first-part {
    display: grid;
    grid-template-columns: 764px 1fr;
    gap: 2rem;
    background-color: white;
    margin-top: -2rem;

    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: end;

        p {
            font-weight: bold;
            color: #A48B66;
            margin: 0;
        }
    }

    .right {
        padding: 0 4rem 2rem 0;

        p {
            max-width: 580px;

            &.p1 {
                margin-top: 0;
            }

            &.colored {
                color: #A48B66;
                font-weight: bold;
            }

            &.end {
                font-weight: bold;
                text-align: end;
            }
        }

        img {
            width: 300px;
            aspect-ratio: 1502 / 600;
            height: unset;
            margin-left: auto;
            display: block;
        }
    }
}

.second-part {
    padding-top: 150px;
    height: 120vh;
    position: relative;

    .items {
        display: grid;
        grid-template-columns: 3fr 9fr;
        gap: 2rem;
        height: 135px;
        padding: 0 4rem;

        .items-title {
            font-size: 4rem;
            font-weight: 300;
        }

        .scrolable {
            display: flex;
            justify-content: space-evenly;
        }

        .hoverable {
            flex-grow: 1;
            border-right: 1px solid black;
            padding: 1rem 0.5rem;
            height: 1.125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.75rem;

            &:last-child {
                border: 0;
            }

            .title {
                font-weight: bold;
            }

            .more {
                max-width: 190px;
            }
        }
    }
}

.third-part {
    height: 200vh;

    .materials {
        .materialsList {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1rem;
            padding: 0 1.75rem;

            .material {
                width: 100%;

                .materialImg {
                    width: 100%;
                    aspect-ratio: 1 / 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}

.fourth-part {
    padding-top: 40vh;
    height: 300vh;

    .slider-bg {
        overflow: hidden;
        background-color: #D9D0BE;
        padding: 2rem 1.75rem;

        .slider {
            display: flex;
            gap: 1rem;
            width: fit-content;

            .see-more {
                align-self: end;
                margin-bottom: calc(2.25rem + 54px);
                font-size: 1.35rem;
                font-weight: bold;
                margin-left: 6rem;
                width: max-content;
                position: relative;
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: black;
                    border-bottom: 3px solid transparent;
                    transition: 0.3s ease-out;

                    &:hover {
                        border-color: black;
                    }
                }

                .arrow {
                    height: 45px;
                    width: 30px;
                    object-fit: cover;
                }
            }

            .slide {
                .image {
                    height: 45vh;
                    width: unset !important;
                    aspect-ratio: 3 / 4;
                    object-fit: cover;

                    &.land {
                        aspect-ratio: 4 / 3;
                    }
                }

                .item-body {
                    margin-top: 2.25rem;
                    border-top: 1px solid black;

                    .item-name {
                        color: black;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .item-desc {
                        margin: 0;
                        color: rgb(100, 100, 100);
                    }
                }
            }
        }
    }
}

.fifth-part {
    padding-top: 50vh;

    .leistungen {
        .info {
            display: grid;
            gap: 1rem;
            grid-template-columns: 900px 1fr calc(260px + 1.75rem);
            margin-top: -2rem;

            img.leistungen-img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 500px;
            }

            .leistungen-right {
                padding-right: 1.75rem;
                justify-self: end;
                padding-right: 1.75rem;
                justify-self: end;
                width: 100%;
                height: unset;
                box-sizing: border-box;
            }

            .info-right {

                .info-head {
                    margin-top: 0;
                    font-weight: bold;
                    color: #A48B66;
                }


                .see-more {
                    font-weight: bold;
                    width: max-content;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;

                    a {
                        text-decoration: none;
                        color: black;
                    }

                    .arrow {
                        height: 45px;
                        width: 30px;
                        object-fit: cover;
                        transition: transform 0.3s ease-in;
                    }

                    &:hover .arrow {
                        transform: translateX(10px);
                    }
                }
            }
        }
    }

    .scrolable {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 3rem;
        margin-top: 5rem;

        .hoverable {
            flex-grow: 1;
            padding: 0 0.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 0.5rem;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                height: 50px;
                width: 1px;
                background-color: black;
                right: 0;
            }

            &.no-line::after {
                display: none;
            }

            .title {
                font-weight: bold;
            }

            .more {
                line-height: 1.625rem;
            }
        }
    }
}

.header {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    text-align: end;
    padding: 3rem 0;
    height: 75px;
    margin: 0;

    span {
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        padding: 0 1.75rem;
        height: 75px;
        font-weight: 600;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        border-bottom: 1px solid black;
        margin: auto 0;
    }

    &.left {
        text-align: start;

        span {
            right: unset;
            left: 0;
        }
    }
}

.sub-header {
    font-size: 1.125rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
    padding: 0 1.75rem;
    font-weight: bold;
    color: #A48B66;
    text-align: end;
}

.final {
    padding: 5rem 0;
    padding-bottom: 3rem;

    .hero2 {
        height: 560px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            transform: translateY(-120px);
        }
    }

    .prozesse-info {
        display: flex;
        margin: -2.5rem 0;
        padding: 0 1.75rem;
        align-items: flex-start;

        .prozesse-title {
            font-weight: bold;
            color: #A48B66;
        }

        .prozesse-left {
            width: 803px;
            text-align: end;
            font-weight: bold;
        }

        .prozesse-right {
            max-width: 500px;
        }
    }

    .lastImage {
        position: relative;
        height: 550px;
        width: 100%;

        img {
            width: 100%;
            height: 550px;
            object-fit: cover;
        }

        .lastLeft {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            font-size: 2rem;
            font-weight: bold;
            padding: 2rem;
        }
    }
}

.capped {
    max-width: 2000px;
    margin: 0 auto;
}
</style>
