---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import CoverMaterials from '../../assets/images/RAD.jpg';
import Bronze from '../../assets/images/materials/bronze.png';
import Aluminum from '../../assets/images/materials/aluminum.png';
import Zink from '../../assets/images/materials/zink.png';
import Messing from '../../assets/images/materials/messing.jpg';
import Silber from '../../assets/images/materials/silber.png';
import Tombak from '../../assets/images/materials/tombak.png';
import Others from '../../assets/images/materials/others.png';
import Slide1 from '../../assets/images/slide-1.png';
import Slide2 from '../../assets/images/slide-2.png';
import Slide3 from '../../assets/images/slide-3.png';
import Slide4 from '../../assets/images/slide-4.png';
import Slide5 from '../../assets/images/slide-5.png';
import Slide6 from '../../assets/images/slide-6.png';
import Leistungen from '../../assets/images/leistungen.jpg';
import ReferenzenCover from '../../assets/images/referenzen-cover.png';
import Arrow from '../../assets/images/Arrow.png';
import Last from '../../assets/images/last-technik.png';
import Kom11 from '../../assets/images/kom-1-1.png';
import Kom12 from '../../assets/images/kom-1-2.png';
import Kom21 from '../../assets/images/kom-2-1.png';
import Kom22 from '../../assets/images/kom-2-2.png';
import Kom3 from '../../assets/images/kom-3.png';
---

<Layout>
    <div class="hero">
        <video class="image parallax" autoplay muted loop>
            <source src="https://occ87lmc8c.ufs.sh/f/amuZeWyiXfpxcNcO03IdezhJZtWMwjDGxRNo8Lkp3F7lXqfy" type="video/mp4">
        </video>
    </div>
    <h2 class="header left"><span>UNSER TECHNIKGUSS</span></h2>
    <div class="first-part">
        <div class="left">
            <p>PRÄZISION IN GUSS</p>
        </div>
        <div class="right">
            <p class="p1 on-enter">
                Unser innovatives Feingussverfahren / Investmentcasting und Sandgussverfahren
                ermöglicht die präzise Herstellung hochwertiger Gussteile, die den Anforderungen
                moderner Technologien entsprechen. Dank langjähriger Erfahrung und sorgfältiger
                Materialauswahl realisieren wir komplexe Konstruktionen mit höchster Qualität.
            </p>
            <p class="p2 on-enter">
                Prototypenprozesse liefern wertvolle Erkenntnisse für effiziente, kostengünstige
                Serienproduktion. Bereits in der Entwicklungsphase profitieren Sie von kurzer
                Lieferzeit und einem hervorragenden Kosten-Leistungs-Verhältnis.
            </p>
            <p class="p2 on-enter">
                • Unbegrenzter Gestaltungsspielraum bei Geometrien und Hohlräumen
                <br>
                • Hohe Maßhaltigkeit für die weitere Anwendung
                <br>
                • Exzellente Oberflächenqualität, auch bei filigranen Details
                <br>
                • Wirtschaftliche Fertigung komplexer Werkstücke durch effiziente Prozesse
            </p>
            <p class="colored on-enter">
                Vertraulichkeit und Schutz Ihrer Innovationen sind für uns oberste Pflicht.
            </p>
            <p class="end">
                - Kollinger
            </p>
        </div>
    </div>

    <section class="third-part">
        <div class="materials">
            <h2 class="header"><span>UNSERE MATERIALIEN</span></h2>
            <div class="materialsList">
                <article class="material">
                    <div class="materialImg">
                        <Image src={Bronze} alt="Image 1" />
                    </div>
                    <p class="name">BRONZE</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Zink} alt="Image 1" />
                    </div>
                    <p class="name">ZINK</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Messing} alt="Image 1" />
                    </div>
                    <p class="name">MESSING</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Aluminum} alt="Image 1" />
                    </div>
                    <p class="name">ALUMINIUM</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Silber} alt="Image 1" />
                    </div>
                    <p class="name">SILBER</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Tombak} alt="Image 1" />
                    </div>
                    <p class="name">SILIZIUMBRONZE</p>
                </article>
                <article class="material">
                    <div class="materialImg">
                        <Image src={Others} alt="Image 1" />
                    </div>
                    <p class="name">SONDERLEGIERUNGEN</p>
                </article>
            </div>
        </div>
    </section>
    <div class="more-materials">
        <div class="left">
            <p class="more-materials-title">WIR VERARBEITEN STANDARDMÄSSIG</p>
            <p class="more-materials-extra">und Sonderlegierungen auf Anfrage</p>
        </div>
        <div class="right">
            <div class="materials-section">
                <p class="name">SCHWERMETALLE</p>
                <div class="items">
                    CuSn5Zn5
                    <br>
                    CuSn10
                    <br>
                    CuSn12
                    <br>
                    CuZn37Pb2
                    <br>
                    CuAl10Ni5Fe4
                    <br>
                    CuZn15Si4
                    <br>
                    Ag935 - Silber
                    <br>
                    ZnAl4Cu1
                    <br>
                    eCu
                </div>
            </div>
            <div class="materials-section">
                <p class="name">LEICHTMETALLE</p>
                <div class="items">
                    AlSi7Mg1,3
                    <br>
                    AlSi7Mg0,6
                    <br>
                    AlSi10Mg
                    <br>
                    AlSi10Mg (Cu)
                    <br>
                    AlSi12CuNiMg
                    <br>
                    AlMg3 / AlMg3Si
                    <br>
                    MgAl9Zn1
                </div>
            </div>
        </div>
    </div>

    <section class="fifth-part">
        <div class="hero2">
            <Image class="image parallax" src={CoverMaterials} alt="Image 1" />
        </div>
        <div class="leistungen">
            <h2 class="header left"><span>UNSERE LEISTUNGEN</span></h2>
            <div class="info">
                <Image class="leistungen-img" src={Leistungen} alt="Image 5" />
                <div class="info-right">
                    <p>
                        Wir unterstützen Sie gerne mit Beratung über vor- und nachgelagerten
                        Arbeitsschritte im Bereich Gussprodukte
                    </p>
                    <p>
                        • 3D-Scan, CAD-Konstruktion und Datenaufbereitung für die Modellherstellung
                        <br>
                        • Modellherstellung über 3D-Druck, CNC-Fräsen
                        <br>
                        • Abformungen als Silikon- oder gefrästen Formen für
                        <br>
                        • Herstellung von Wachsmodellen über Vakuum- oder Spritzguss
                        <br>
                        • Wärmebehandlung Spannungsfreiglühen Härten
                    </p>
                    <p class="info-head">TECHNISCHE PRÜFVERFAHREN</p>
                    <p>
                        • GOM-Vermessung, Best-Fit
                        <br>
                        • Spektralanalyse,
                        <br>
                        • Zugproben
                        <br>
                        • Rissprüfung
                        <br>
                        • Dichtheitsprüfung
                        <br>
                        • Röntgenprüfung
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="kompetenzen">
        <h2 class="header"><span>KOMPETENZEN</span></h2>
        <div class="sub-header">WIR FERTIGEN NACH VDG P690 UND P202</div>
        <div class="cards">
            <div class="card">
                <div class="left">
                    <Image src={Kom11} alt="1" />
                </div>
                <div class="center">
                    <Image src={Kom12} alt="1" />
                </div>
                <div class="right">
                    <div class="title">MODTECH C20</div>
                    <p>
                        <b>ModTech C20</b> – Wachsspritzanlage zur Vervielfältigung
                        der Urmodelle in gefräste Aluminium- oder in gegossene
                        PU- Werkzeuge bis max.
                    </p>
                    <p>
                        • 4L Schussvolumen
                        <br>
                        • Spritzdruck 40 Bar
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="left">
                    <Image src={Kom21} alt="1" />
                </div>
                <div class="center">
                    <Image src={Kom22} alt="1" />
                </div>
                <div class="right">
                    <div class="title">SCHÜCHL</div>
                    <p>
                        <b>Schüchl</b> – „UHG 690“ Vakuumkammer zur
                        Wachsmodellerstellung. Bei geringen Stückzahlen
                        und höchste Oberflächenanforderungen
                    </p>
                    <p>
                        • Max. Behältervolumen 3,5L
                        <br>
                        • max Form-Abmessungen
                    </p>
                    <p>
                        H = 965, B = 690, T = 720 mm
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="left"></div>
                <div class="center">
                    <Image src={Kom3} alt="1" />
                </div>
                <div class="right">
                    <div class="title">FEINGUSS-STRECKE</div>
                    <p>
                        <b>Automatisierte Feinguss-Strecke</b> von MK-Technology
                        mit 16 Gehängeplätzen und einer max. Traubenabmes-
                        sung von 700x700x700mm
                    </p>
                    <p>
                        Inklusive Booster-Trockenschrank der 8.Generation
                        ermöglicht eine brennfertige Gusstraube in bis zu 5 Std.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="fourth-part">
        <div class="hero4">
            <Image class="image parallax" src={ReferenzenCover} alt="Image 1" />
        </div>
        <div class="slider-cont">
            <h2 class="header"><span>REFERENZEN</span></h2>
            <div class="slider-bg">
                <div class="slider">
                    <div class="slide c5">
                        <Image class="image" src={Slide1} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image land" src={Slide2} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Slide3} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image land" src={Slide4} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Slide5} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Slide6} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="see-more">
                        <Image class="arrow" src={Arrow} alt="Image 5" />
                        <a href="/technik/referenzen">
                            WEITER ZUR GALLERIE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="final">
        <div class="prozesse">
            <div class="quote">
                „Dank der Beratung und dem Know-how des Teams wurde mein Entwurf
                nicht nur realisiert, sondern sogar verbessert. Bei Kollinger
                fühlt man sich als Künstler ernst genommen.“
            </div>
            <div class="lastImage">
                <div class="lastLeft">
                    QUALITÄT
                    <br>
                    SEIT 1993
                </div>
                <div class="lastRight">
                    DIE KUNST
                    <br>
                    IM GUNSS
                </div>
                <Image src={Last} alt="Image 1" />
            </div>
    </section>
</Layout>

<script>
import gsap from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
import Lenis from '@studio-freight/lenis';

gsap.registerPlugin(ScrollTrigger);

const lenis = new Lenis();

lenis.on('scroll', ScrollTrigger.update);

gsap.ticker.add((time) => {
    lenis.raf(time * 1000);
});

gsap.ticker.lagSmoothing(0);

gsap.from(".on-enter", {
    scrollTrigger: {
        trigger: ".first-part",
        start: "top 90%",
        toggleActions: "play none none none",
    },
    y: 40,
    opacity: 0,
    stagger: 0.15,
    duration: 1,
    ease: "power2.out"
});

const tlMaterials = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".materials",
        start: "50% 50%",
        endTrigger: ".third-part",
        end: "bottom 80%",
    },
});
tlMaterials
    .from(".materialsList .material", {
        scale: 0.8,
        stagger: -0.15,
        ease: "power2.inOut"
    });


gsap.to(".first-part", {
    scrollTrigger: {
        trigger: ".first-part",
        start: "top top",
        end: "bottom top",
        scrub: true
    },
    y: -100
});
gsap.to(".hero2 .parallax", {
    scrollTrigger: {
        trigger: ".hero2",
        start: "top 80%",
        end: "bottom top",
        scrub: true
    },
    y: 100,
});


const tlSlider = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".slider-cont",
        start: "50% 50%",
        endTrigger: ".fourth-part",
        end: "bottom 100%",
    },
});
tlSlider.fromTo( ".slider", { xPercent: 30 }, { xPercent: -50, ease: "power1.in" });

gsap.to(".hero4 .parallax", {
    scrollTrigger: {
        trigger: ".hero4",
        start: "top 80%",
        end: "bottom top",
        scrub: true
    },
    y: 100,
});
</script>

<style>
.hero {
    padding-top: 60px;
    overflow: hidden;

    .image {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}

.first-part {
    display: grid;
    grid-template-columns: 10fr 15fr;
    gap: 2rem;
    background-color: white;
    margin-top: -2rem;

    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: end;

        p {
            font-weight: bold;
            color: #284590;
            margin: 0;
        }
    }

    .right {
        padding: 0 4rem 2rem 4rem;

        p {
            max-width: 580px;

            &.p1 {
                margin-top: 0;
            }

            &.colored {
                color: #284590;
                font-weight: bold;
            }

            &.end {
                font-weight: bold;
                text-align: end;
            }
        }

    }
}

.second-part {
    padding-top: 150px;
    height: 120vh;
    position: relative;

    .items {
        display: grid;
        grid-template-columns: 3fr 9fr;
        gap: 2rem;
        height: 135px;
        padding: 0 4rem;

        .items-title {
            font-size: 4rem;
            font-weight: 300;
        }

        .scrolable {
            display: flex;
            justify-content: space-evenly;
        }

        .hoverable {
            flex-grow: 1;
            border-right: 1px solid black;
            padding: 1rem 0.5rem;
            height: 1.125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.75rem;

            &:last-child {
                border: 0;
            }

            .title {
                font-weight: bold;
            }

            .more {
                max-width: 190px;
            }
        }
    }
}

.third-part {
    height: 300vh;

    .materials {
        .materialsList {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1rem;
            padding: 0 1.75rem;

            .material {
                width: 100%;

                .materialImg {
                    width: 100%;
                    aspect-ratio: 1 / 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}

.more-materials {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 5rem;
    gap: 80px;
    margin-bottom: 3.5rem;

    .left {
        flex: 1;
        text-align: end;

        .more-materials-title {
            font-weight: bold;
            font-size: 1.75rem;
            color: #284590;
            margin: 0;
        }

        .more-materials-extra {
            font-weight: bold;
            font-size: 1.125rem;
            margin-top: 5px;
        }
    }

    .right {
        display: flex;
        gap: 80px;

        .materials-section {
            min-width: 300px;
            display: flex;
            gap: 0 1.75rem;

            .name {
                margin: 0;
                font-weight: bold;
                font-size: 1.75rem;
                margin-bottom: 10px;
            }

            .items {
                padding-left: 20px;
                padding-top: 1.75rem;
                border-left: 1px solid #000;
                font-size: 1.125rem;
                line-height: 1.8;
            }
        }
    }
}

.fourth-part {
    height: 600vh;

    .hero4 {
        height: 560px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            transform: translateY(-120px);
        }
    }

    .slider-bg {
        overflow: hidden;
        padding: 1rem 1.75rem;

        .slider {
            display: flex;
            gap: 1rem;
            width: fit-content;

            .see-more {
                align-self: end;
                margin-bottom: calc(2.25rem + 54px);
                font-size: 1.35rem;
                font-weight: bold;
                margin-left: 6rem;
                width: max-content;
                position: relative;
                display: flex;
                flex-direction: column;

                a {
                    text-decoration: none;
                    color: black;
                    border-bottom: 3px solid transparent;
                    transition: 0.3s ease-out;

                    &:hover {
                        border-color: black;
                    }
                }

                .arrow {
                    height: 45px;
                    width: 30px;
                    object-fit: cover;
                }
            }

            .slide {
                .image {
                    height: 45vh;
                    width: unset !important;
                    aspect-ratio: 3 / 4;
                    object-fit: cover;

                    &.land {
                        aspect-ratio: 4 / 3;
                    }
                }

                .item-body {
                    margin-top: 2.25rem;
                    border-top: 1px solid black;

                    .item-name {
                        color: black;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .item-desc {
                        margin: 0;
                        color: rgb(100, 100, 100);
                    }
                }
            }
        }
    }
}

.fifth-part {
    .hero2 {
        height: 560px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            transform: translateY(-120px);
        }
    }

    .leistungen {
        img.leistungen-img {
            height: 40vh;
            object-fit: cover;
            object-position: center;
            width: 45vw;
        }

        .info {
            display: grid;
            align-items: center;
            grid-template-columns: 3fr 2fr;

            .info-right {
                width: 600px;

                .info-head {
                    font-weight: bold;
                    margin: 2rem 0 1.125rem 0;
                    color: #284590;
                }
            }
        }
    }
}

.kompetenzen {
    .cards {
        display: flex;
        flex-direction: column;

        .card {
            display: grid;
            grid-template-columns: 4fr 4fr 5fr;
            height: 444px;
            gap: 0.5rem;

            .left, .center {
                box-sizing: border-box;
                height: 444px;

                img {
                    width: unset;
                    height: 444px;
                    aspect-ratio: 1/1;
                    object-fit: scale-down;
                }
            }

            .left {
                display: flex;
                justify-content: flex-end;

                img {
                    transform: scale(0.9);
                }
            }

            .center {
                display: flex ;
                align-items: center;
                justify-content: center;
            }

            .right {
                .title {
                    padding: 3rem 0;
                    padding-bottom: 1rem;
                    margin-bottom: 2rem;
                    font-weight: bold;
                    font-size: 1.75rem;
                    border-bottom: 1px solid black;
                }

                p {
                    max-width: 26rem;
                }
            }
        }
    }
}

.header {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    text-align: end;
    padding: 3rem 0;
    height: 75px;
    margin: 0;

    span {
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        padding: 0 1.75rem;
        height: 75px;
        font-weight: 600;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        border-bottom: 1px solid black;
        margin: auto 0;
    }

    &.left {
        text-align: start;

        span {
            right: unset;
            left: 0;
        }
    }
}

.sub-header {
    font-size: 1.125rem;
    margin-top: -3rem;
    margin-bottom: 3rem;
    padding: 0 1.75rem;
    font-weight: bold;
    color: #284590;
    text-align: end;
}

.final {
    padding-bottom: 5rem;

    .quote {
        width: 45%;
        text-align: center;
        margin: 0 auto;
        margin-top: 4rem;
        padding-bottom: 7rem;
        font-size: 1.5rem;
    }

    .lastImage {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }

        .lastRight {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            font-size: 2rem;
            font-weight: bold;
            padding: 2rem;
            text-align: end;
        }

        .lastLeft {
            position: absolute;
            bottom: 0;
            left: 0;
            color: white;
            font-size: 2rem;
            font-weight: bold;
            padding: 2rem;
        }
    }
}
</style>
