---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import CoverMaterials from '../../assets/images/technik-long.png';
import ProzesseMaterials from '../../assets/images/technik-long-2.png';
import Something from '../../assets/images/der-kopf-3.jpeg';
import Slide1 from '../../assets/images/slide-1.png';
import Slide2 from '../../assets/images/slide-2.png';
import Slide3 from '../../assets/images/slide-3.png';
import Slide4 from '../../assets/images/slide-4.png';
import Slide5 from '../../assets/images/slide-5.png';
import Slide6 from '../../assets/images/slide-6.png';
import Leistungen from '../../assets/images/leistungen.png';
import ReferenzenCover from '../../assets/images/referenzen-cover.png';
import ProzesseRight from '../../assets/images/prozesse-right.png';
import ProzesseLeft from '../../assets/images/prozesse-left.png';
---

<Layout>
    <div class="hero">
        <video class="image parallax" autoplay muted loop>
            <source src="https://occ87lmc8c.ufs.sh/f/amuZeWyiXfpxXfHjg5bbHsP3C5tyvgx2ETmcLdIflAGwkZYi" type="video/mp4">
        </video>
    </div>
    <div class="first-part">
        <div class="left">
            <h1 class="on-enter">UNSER KUNSTGUSS</h1>
            <p class="on-enter">PRÄZISION FÜR KUNST</p>
        </div>
        <div class="right">
            <p class="p1 on-enter">
                Seit 1993 steht die Kunstgießerei Kollinger für höchste Qualität im Kunstguss
                und technischen Feinguss. Mit einem feinen Gespür für Form und Material
                garantieren wir die sorgfältige Bearbeitung und individuelle Behandlung jedes
                Objekts – vom Unikat bis zur Kleinserie.
            </p>
            <p class="p2 on-enter">
                Unsere Arbeitsprozesse sind flexibel, unsere Lösungen maßgeschneidert.
                Ob filigrane Skulptur oder komplexer Prototyp – wir setzen Kundenwünsche
                präzise um und passen uns dabei stets aktuellen Anforderungen und Trends an.
            </p>
        </div>
    </div>
    <div class="second-part">
        <Image class="something" src={Something} alt="Image Something" />
        <div class="items">
            <div class="hoverable">
                <div class="title">
                    TECHNISCHE PROTOTYPEN
                </div> 
                <div class="more">
                    vom Millimeter-Bauteil bis zur Grossplastik
                </div>
            </div>
            <div class="hoverable">
                <div class="title">
                    EINZELANFERTIGUNGEN
                </div>
                <div class="more">
                    sowie Klein- und vorserien im Sand- oder Feinguss
                </div>
            </div>
            <div class="hoverable">
                <div class="title">INDIVIDUELLES MODELL</div>
                <div class="more">
                    erstellen wir exakt nach ihrer vorlage
                </div>
            </div>
            <div class="hoverable">
                <div class="title">MODELLE UND ABFORMUNGEN</div>
                <div class="more">
                    vom Millimeter-Bauteil bis zur Grossplastik
                </div>
            </div>
            <div class="hoverable">
                <div class="title">ERWEITERTE LEISTUNGEN</div>
                <div class="more">
                    von Patina über Komplexe Lackierungen bis hin zu vergoldung
                </div>
            </div>
            <div class="hoverable">
                <div class="title">OBERFLÄCHENVEREDELUNG</div>
                <div class="more">
                    wie Montage, technische Anpassungen oder Sonderanfertigungen
                </div>
            </div>
        </div>
    </div>

    <section class="fifth-part">
        <div class="hero2">
            <Image class="image parallax" src={CoverMaterials} alt="Image 1" />
        </div>
        <div class="leistungen">
            <h2 class="header"><span>UNSERE LEISTUNGEN</span></h2>
            <div class="info">
                <Image class="leistungen-img" src={Leistungen} alt="Image 5" />
                <div class="info-right">
                    <p class="info-head">VIELFALT IM METALLGUSS</p>
                    <p>
                        Ob filigraner Prototyp oder monumentale Skulptur – wir
                        realisieren Ihre Ideen in hochwertigem Metallguss. Unsere
                        Expertise ermöglicht maßgeschneiderte Lösungen, unabhängig
                        von Größe, Komplexität oder Materialanforderung.
                    </p>
                    <p>
                        Vertraulichkeit und der Schutz Ihrer kreativen Arbeit sind
                        für uns selbstverständlich: Ihre Daten und Urheberrechte
                        behandeln wir mit größter Sorgfalt.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="prozesse-part">
        <div class="hero3">
            <Image class="image parallax" src={ProzesseMaterials} alt="Image 1" />
        </div>
        <div class="prozesse">
            <h2 class="header left"><span>UNSERE PROZESSE</span></h2>
            <div class="prozesse-info">
                <div class="prozesse-left">PRÄZISION FÜR HÖCHSTE ANSPRÜCHE</div>
                <div class="prozesse-right">
                    Unser Feinguss-Verfahren ermöglicht die Fertigung von Werkstücken in außergewöhnlich
                    hoher Qualität – exakt abgestimmt auf die komplexen Anforderungen moderner Technik.
                    Dank langjähriger Erfahrung und der präzisen Auswahl geeigneter Gusswerkstoffe erzielen
                    wir selbst bei anspruchsvollen Konstruktionen optimale Ergebnisse.
                </div>
            </div>
            <div class="prozesse-list">
                <div class="prozesse-row prozesse-row-1">
                    <div class="prozesse-item">
                        <div class="process-title">VOR DEM GUSS</div>
                        <div class="process-sub">
                            Digitale & physische Modellvorbereitung
                        </div>
                        <ul>
                            <li>3D-Scan bestehender Objekte</li>
                            <li>CAD-Konstruktion & Datenaufbereitung</li>
                            <li>Modellherstellung via 3D-Druck, CNC-Fräsen oder manuelle Modellierung</li>
                            <li>Erstellung von Silikonformen und Sandformen</li>
                        </ul>
                    </div>
                    <div class="prozesse-item">
                        <div class="process-title">GUSS & VEREDELUNG</div>
                        <div class="process-sub">
                            Der eigentliche Gussprozess
                        </div>
                        <ul>
                            <li>
                                Feinguss und Sandguss in unterschiedlichen
                                Metallen und Legierungen
                            </li>
                            <li>Schleifen, Polieren, Patinieren</li>
                            <li>Technische Lackierungen, Korrosionsschutz</li>
                            <li>Veredelungen wie Versilberung, Vergoldung</li>
                            <li>
                                Wärmebehandlungen: spannungsfreies Glühen
                                (z. B. für Kupferguss)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="prozesse-row prozesse-row-2">
                    <div class="prozesse-item">
                        <div class="process-title">PRÜFVERFAHREN</div>
                        <div class="process-sub">
                            Qualität, die sichtbar wird
                        </div>
                        <ul>
                            <li>GOM-3D-Vermessung</li>
                            <li>Spektralanalyse zur Legierungsprüfung</li>
                            <li>Rissprüfung (z. B. Farbeindringverfahren)</li>
                            <li>Zugproben & Drucktests</li>
                            <li>Dichteprüfung</li>
                            <li>Thermoanalyse</li>
                            <li>Röntgenprüfung für innere Fehlstellen</li>
                        </ul>
                    </div>
                    <div class="prozesse-item">
                        <div class="process-title">NACH DEM GUSS</div>
                        <div class="process-sub">
                            Montage, Technik & Platzierung
                        </div>
                        <p>
                            Montage und Transport großformatiger Skulpturen
                            Statische Berechnungen und Vorbereitung der
                            Fundamente Integration von Technik: z. B.
                            Wasserführung in Brunnenprojekten Abstimmung mit
                            Architekten, Galerien oder Bauleitung Pflege- und
                            Wartungshinweise für Außenobjekte.
                        </p>
                    </div>
                </div>
            </div>
            <div class="prozesse-imgs">
                <Image src={ProzesseLeft} alt="Prozesse Left" />
                <Image src={ProzesseRight} alt="Prozesse Right" />
            </div>
        </div>
    </section>

    <section class="fourth-part">
        <div class="hero4">
            <Image class="image parallax" src={ReferenzenCover} alt="Image 1" />
        </div>
        <div class="slider-cont">
            <h2 class="header"><span>REFERENZEN</span></h2>
            <div class="slider-bg">
                <div class="slider">
                    <div class="slide c5">
                        <Image class="image" src={Slide1} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image land" src={Slide2} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Slide3} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image land" src={Slide4} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Slide5} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                    <div class="slide c5">
                        <Image class="image" src={Slide6} alt="Image 5" />
                        <div class="item-body">
                            <p class="item-name">ANANAS</p>
                            <p class="item-desc">wo man es sehen kann?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>

<script>
import gsap from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';
import Lenis from '@studio-freight/lenis';

gsap.registerPlugin(ScrollTrigger);

const lenis = new Lenis();

lenis.on('scroll', ScrollTrigger.update);

gsap.ticker.add((time) => {
    lenis.raf(time * 1000);
});

gsap.ticker.lagSmoothing(0);

gsap.from(".on-enter", {
    scrollTrigger: {
        trigger: ".first-part",
        start: "top 90%",
        toggleActions: "play none none none",
    },
    y: 40,
    opacity: 0,
    stagger: 0.15,
    duration: 1,
    ease: "power2.out"
});

gsap.to(".hero .parallax", {
    scrollTrigger: {
        trigger: ".hero",
        start: "top top",
        end: "bottom top",
        scrub: true
    },
    y: 200,
    filter: "blur(8px)",
    scale: 1.01,
});

gsap.to(".first-part", {
  scrollTrigger: {
    trigger: ".first-part",
    start: "top top",
    end: "bottom top",
    scrub: true
  },
  y: -100
});

gsap.from(".second-part .hoverable", {
    scrollTrigger: {
        trigger: ".second-part",
        start: "top 65%",
        end: "top 30%",
        toggleActions: "play none none none",
        scrub: true,
    },
    y: 40,
    opacity: 0,
    stagger: 0.15,
    ease: "power2.out"
});

const something = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".second-part .something",
        start: "50% 50%",
        endTrigger: ".second-part",
        end: "bottom -10%",
    },
});
something.fromTo(".second-part .something", {
    opacity: 0,
    scale: 1,
    duration: 1,
}, { opacity: 1, scale: 1.5, duration: 1, }).to(".second-part .something", {
    scale: 2,
    opacity: 1,
    duration: 2,
}).to(".second-part .something", {
    scale: 2.5,
    opacity: 0,
    duration: 1,
});

const tl = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".second-part .items",
        start: "60% 40%",
        endTrigger: ".second-part",
        end: "bottom 90%",
    },
});
tl.from(".second-part .more", {
    y: 40,
    opacity: 0,
    stagger: 0.5,
    ease: "power2.out"
});

gsap.to(".hero2 .parallax", {
    scrollTrigger: {
        trigger: ".hero2",
        start: "top 80%",
        end: "bottom top",
        scrub: true
    },
    y: 100,
});

const tlSlider = gsap.timeline({
    scrollTrigger: {
        scrub: true,
        pin: true,
        trigger: ".slider-cont",
        start: "50% 50%",
        endTrigger: ".fourth-part",
        end: "bottom 50%",
    },
});
tlSlider.fromTo( ".slider", { xPercent: 60 }, { xPercent: -130 });

gsap.to(".hero3 .parallax", {
    scrollTrigger: {
        trigger: ".hero3",
        start: "top 80%",
        end: "bottom top",
        scrub: true
    },
    y: 100,
});
gsap.to(".hero4 .parallax", {
    scrollTrigger: {
        trigger: ".hero4",
        start: "top 80%",
        end: "bottom top",
        scrub: true
    },
    y: 100,
});
</script>

<style>
.hero {
    padding-top: 60px;
    overflow: hidden;

    .image {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }
}

.first-part {
    display: grid;
    grid-template-columns: 11fr 13fr;
    gap: 2rem;
    padding-top: 2rem;
    background-color: white;

    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;

        h1 {
            font-size: 4rem;
            font-weight: 300;
            margin: 0;
        }

        p {
            font-weight: bold;
        }
    }

    .right {
        margin-top: 2.5rem;
        border-top: 1px solid black;
        padding: 2rem 4rem;

        p {
            max-width: 580px;
        }
    }
}

.second-part {
    padding-top: 150px;
    margin-bottom: 10rem;
    height: 300vh;
    position: relative;

    img.something {
        position: absolute;
        top: -500px;
    }

    .items {
        display: flex;
        width: 70%;
        margin-left: 30%;
        justify-content: space-evenly;
        height: 135px;

        .hoverable {
            flex-grow: 1;
            border-right: 1px solid black;
            padding: 1rem 0.5rem;
            height: 1.125rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1.75rem;

            &:last-child {
                border: 0;
            }

            .title {
                font-weight: bold;
            }

            .more {
                max-width: 190px;
            }
        }
    }
}

.third-part {
    height: 300vh;

    .materials {
        .materialsList {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 1rem;
            padding: 0 1.75rem;

            .material {
                width: 100%;

                .materialImg {
                    width: 100%;
                    aspect-ratio: 1 / 1;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .name {
                    font-weight: bold;
                    text-align: center;
                }
            }
        }
    }
}

.fourth-part {
    height: 600vh;

    .hero4 {
        height: 560px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            transform: translateY(-120px);
        }
    }

    .slider-bg {
        overflow: hidden;
        padding: 1rem 1.75rem;

        .slider {
            display: flex;
            gap: 1rem;

            .slide {
                .image {
                    height: 45vh;
                    width: unset !important;
                    aspect-ratio: 3 / 4;
                    object-fit: cover;

                    &.land {
                        aspect-ratio: 4 / 3;
                    }
                }

                .item-body {
                    margin-top: 2.25rem;
                    border-top: 1px solid black;

                    .item-name {
                        color: black;
                        font-weight: bold;
                        margin-bottom: 0;
                    }

                    .item-desc {
                        margin: 0;
                        color: rgb(100, 100, 100);
                    }
                }
            }
        }
    }
}

.fifth-part {
    margin-bottom: 5rem;
    border: 1px solid black;

    .hero2 {
        height: 560px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            transform: translateY(-120px);
        }
    }

    .leistungen {
        padding-top: 3rem;

        img.leistungen-img {
            margin-top: calc(-3rem - 37px);
            height: 60vh;
            object-fit: cover;
            object-position: top;
            width: 45vw;
        }

        .info {
            display: grid;
            align-items: center;
            grid-template-columns: 3fr 2fr;

            .info-right {
                width: 600px;
                margin-top: -7rem;

                .info-head {
                    font-weight: bold;
                }
            }
        }
    }
}

.prozesse-part {
    .hero3 {
        height: 560px;
        width: 100%;
        overflow: hidden;

        img {
            width: 100%;
            height: calc(100% + 100px);
            object-fit: cover;
            transform: translateY(-120px);
        }
    }

    .prozesse-info {
        display: flex;
        margin: -2.5rem 0;
        padding: 0 1.75rem;
        gap: 10rem;

        .prozesse-left {
            width: 570px;
            text-align: end;
            font-weight: bold;
        }

        .prozesse-right {
            max-width: 700px;
        }
    }

    .prozesse-list {
        padding: 6rem 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .prozesse-row {
            display: grid;
            grid-template-columns: 1fr 1fr;

            &.prozesse-row-2 {
                justify-items: end;
            }

            .prozesse-item {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 400px;
                opacity: 0.55;
                transition: 0.3s ease-in;
                transform: scale(1);

                &:hover {
                    opacity: 1;
                    transform: scale(1.05);
                }

                .process-title {
                    font-weight: bold;
                    font-size: 1.5rem;
                }

                .process-sub {
                    font-weight: bold;
                    font-size: 1.125rem;
                }

                ul {
                    margin: 1rem 0;
                }
            }
        }
    }

    .prozesse-imgs {
        display: flex;
        height: 30rem;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 5rem;

        img {
            width: 25rem;
            object-fit: cover;
            height: 25rem;
            transition: 0.3s ease-in;
            opacity: 0.7;

            &:nth-child(2) {
                width: 30rem;
                height: 30rem;
            }

            &:hover {
                transform: scale(1.05);
                opacity: 1;
            }
        }
    }
}

.header {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    text-align: end;
    padding: 3rem 0;
    height: 75px;
    margin: 0;

    span {
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        padding: 0 1.75rem;
        height: 75px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        height: 0px;
        width: 100%;
        border-bottom: 1px solid black;
        margin: auto 0;
    }

    &.left {
        text-align: start;

        span {
            right: unset;
            left: 0;
        }
    }
}

.final {
    height: 100vh
}
</style>
