---
import { db } from '../lib/firebaseAdmin';
import { Image } from 'astro:assets';
import type { GalleryItem } from '../lib/firebaseClient';

const snapshot = await db.collection('gallery-technik').orderBy('position').get();
const items: GalleryItem[] = snapshot.docs.map(doc => ({ id: doc.id, ...doc.data() } as GalleryItem));
// style={`aspect-ratio: ${item.span === 2 ? '4 / 3' : '3 / 4'}`}
---

<div class="gallery">
    {items.map((item) => (
        <div
            class="item"
            style={`grid-column: span ${item.span};`}
        >
            <Image
                inferSize={true}
                class="image"
                src={item.imageUrl}
                alt={item.title}
            />
            <div class="item-body">
                <p class="item-name">{item.title}</p>
                <p class="item-desc">{item.description}</p>
            </div>
        </div>
    ))}
</div>
