---
import { Image } from 'astro:assets';
import KollingerIcon from '../assets/images/footer-icon.png';
import Insta from '../assets/images/icons/i.png';
import YouTube from '../assets/images/icons/y.png';
import '../styles/global.scss';
import './styles.scss';

const urlPath = Astro.request.url;
const isKunst = urlPath.includes('/kunst');
const isTechnik = urlPath.includes('/technik');
const isReferenzen = urlPath.includes('/referenzen');
const isKarriere = urlPath.includes('/karriere');
const isKontakt = urlPath.includes('/kontakt');
---
<!doctype html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
        <meta
            name='viewport'
            content='width=device-width,initial-scale=1'
        />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
		<title>Kollinger</title>
	</head>
	<body>
        <nav>
            <p>
                <a href="/" class="bold" style={`text-decoration: none;color: ${isTechnik ? '#284590' : '#A48B66'}`}>
                    KOLLINGER
                </a>
                <a href="/kunst" class={`kunks ${isKunst ? 'bold' : ''}`}>KUNST</a>/
                <a href="/technik" class={`technik ${isTechnik ? 'bold' : ''}`}>TECHNIK</a>
            </p>
            <button class="menu-toggle" aria-label="Toggle menu">
                ☰
            </button>
            <div class="links">
                <div class="dropdown-container">
                    <a href={`/${isKunst ? 'kunst/' : 'technik#'}referenzen`} class={isReferenzen ? 'active' : ''}>REFERENZEN</a>
                    <div class="dropdown">
                        <a href="/kunst/referenzen">KUNST</a>
                        <a href="/technik#referenzen">TECHNIK</a>
                    </div>
                </div>
                <a href="/karriere" class={isKarriere ? 'active' : ''}>KARRIERE</a>
                <a href={isReferenzen ? "/datenschutz-und-impressum#kontakt" : "#kontakt"} class={isKontakt ? 'active' : ''}>KONTAKT</a>
            </div>
        </nav>
		<slot />
        <footer id="footer-desktop">
            <div style="display: flex;gap:1rem;">
                <Image class="kollingerIcon" src={KollingerIcon} alt="Kollinger Logo" />
                <div class="social">
                    <p>FOLGT UNS</p>
                    <a href="https://www.instagram.com/kollingerguss" target="_blank">
                        <Image class="social-icon" src={Insta} alt="Instagram Icon" />
                    </a>
                    <a href="https://www.youtube.com/@KollingerGuss" target="_blank">
                        <Image class="social-icon" src={YouTube} alt="YouTube Icon" />
                    </a>
                </div>
            </div>
            <div class="links">
                <a href="/datenschutz-und-impressum">Datenschutz</a>
                <a href="/datenschutz-und-impressum">Impressum</a>
                <a href="/datenschutz-und-impressum#AGBs">AGBs</a>
            </div>
            <p style="text-align: end;">© 2025 Kollinger | Webdesign by <a style={{ color: 'black' }} href="https://leeradox.com/">RADOX</a></p>
        </footer>
        <footer id="footer-mobile">
            <div style="display: flex;gap:1rem;">
                <Image class="kollingerIcon" src={KollingerIcon} alt="Kollinger Logo" />
                <div class="social">
                    <p>FOLGT UNS</p>
                    <a href="https://www.instagram.com/kollingerguss" target="_blank">
                        <Image class="social-icon" src={Insta} alt="Instagram Icon" />
                    </a>
                    <a href="https://www.youtube.com/@KollingerGuss" target="_blank">
                        <Image class="social-icon" src={YouTube} alt="YouTube Icon" />
                    </a>
                </div>
            </div>
            <div class="links">
                <a href="/datenschutz-und-impressum">Datenschutz</a>
                <a href="/datenschutz-und-impressum">Impressum</a>
                <a href="/datenschutz-und-impressum#AGBs">AGBs</a>
            </div>
            <p style="text-align: end;">© 2025 Kollinger | Webdesign by <a style={{ color: 'black' }} href="https://leeradox.com/">RADOX</a></p>
        </footer>
        <script>
        const navActions = () => {
            const toggleButton = document.querySelector('.menu-toggle');
            const links = document.querySelector('.links');
            const dropdownContainer = document.querySelector('.dropdown-container');
            const dropdownTrigger = dropdownContainer?.querySelector('a'); // The "REFERENZEN" link

            // Toggle the main menu (hamburger)
            toggleButton?.addEventListener('click', () => {
                links?.classList.toggle('show');
            });

            // Toggle dropdown on mobile
            dropdownTrigger?.addEventListener('click', (e) => {
                if (window.innerWidth <= 768) {
                    e.preventDefault(); // Prevent navigating to href
                    dropdownContainer?.classList.toggle('open');
                }
            });

            // Close dropdown if you click outside
            document.addEventListener('click', (e) => {
                const isClickInsideDropdown = dropdownContainer?.contains(e.target as any);
                const isDropdownOpen = dropdownContainer?.classList.contains('open');

                if (!isClickInsideDropdown && isDropdownOpen) {
                    dropdownContainer?.classList.remove('open');
                }
            });
        };
        navActions();
        </script>
	</body>
</html>

