---
import { Image } from 'astro:assets';
import KollingerIcon from '../assets/images/footer-icon.png';
import Facebook from '../assets/images/icons/f.png';
import Insta from '../assets/images/icons/i.png';
import LinkedIn from '../assets/images/icons/l.png';
import Pinterest from '../assets/images/icons/p.png';
import YouTube from '../assets/images/icons/y.png';
import '../styles/global.scss';
import './styles.scss';

const urlPath = Astro.request.url;
const isKunst = urlPath.includes('/kunst');
const isTechnik = urlPath.includes('/technik');
const isReferenzen = urlPath.includes('/referenzen');
const isKarriere = urlPath.includes('/karriere');
const isKontakt = urlPath.includes('/kontakt');
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Kollinger</title>
	</head>
	<body>
        <nav>
            <p>
                KOLLINGER
                <a href="/kunst" class={`kunks ${isKunst ? 'bold' : ''}`}>KUNST</a>/
                <a href="/technik" class={`technik ${isTechnik ? 'bold' : ''}`}>TECHNIK</a>
            </p>
            <div class="links">
                <div class="dropdown-container">
                    <a href={`/${isKunst ? 'kunst' : 'technik'}/referenzen`} class={isReferenzen ? 'active' : ''}>REFERENZEN</a>
                    <div class="dropdown">
                        <a href="/kunst/referenzen">KUNST</a>
                        <a href="/technik/referenzen">TECHNIK</a>
                    </div>
                </div>
                <a href="/karriere" class={isKarriere ? 'active' : ''}>KARRIERE</a>
                <a href="/kontakt" class={isKontakt ? 'active' : ''}>KONTAKT</a>
            </div>
        </nav>
		<slot />
        <footer>
            <Image class="kollingerIcon" src={KollingerIcon} alt="Kollinger Logo" />
            <div class="social">
                <p>FOLGT UNS</p>
                <a href="">
                    <Image class="social-icon" src={Facebook} alt="Facebook Icon" />
                </a>
                <a href="">
                    <Image class="social-icon" src={Pinterest} alt="Pinterest Icon" />
                </a>
                <a href="">
                    <Image class="social-icon" src={Insta} alt="Instagram Icon" />
                </a>
                <a href="">
                    <Image class="social-icon" src={YouTube} alt="YouTube Icon" />
                </a>
                <a href="">
                    <Image class="social-icon" src={LinkedIn} alt="LinkedIn Icon" />
                </a>
            </div>
            <div class="links">
                <a href="/kontakt">Kontakt</a>
                <a href="/datenshutz">Datenschutz</a>
                <a href="/impressum">Impressum</a>
            </div>
        </footer>
	</body>
</html>

